<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAinXz82skgzfKupO0qxZiCqg7_iJwAWGY</string>
	<key>GCM_SENDER_ID</key>
	<string>1026983910139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muslim-ia.app</string>
	<key>PROJECT_ID</key>
	<string>muslim-ia</string>
	<key>STORAGE_BUCKET</key>
	<string>muslim-ia.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026983910139:ios:6a72a34f2644f32efe2e5e</string>
</dict>
</plist>